:root {
    --bg: #000000f0;
    --medium-grey: #B3BABD;
    --logo-red: #972024;
    --hover-red: #D4353A;
    --dark-elevated: #191818bf;
}

body {
    background-color: var(--bg) !important;
    padding: 0 10rem;
    font-family: helvetica, arial, sans-serif;
}

/* Welcome Message */
.welcome-message {
    margin-top: 2rem;
    color: white;
    cursor: pointer;
}

/* Fade in content animation */
.fade-in {
    animation: fadeIn 3s;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    
    to {
        opacity: 1;
    }
}

/* Hover animation on text for Welcome message */
.hover-underline-animation {
    display: inline-block;
    position: relative;
    color: white;
}

.hover-underline-animation:after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: var(--hover-red);
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}

.hover-underline-animation:hover:after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

/* Underline effect on Garage and Log Files header */
.unexpected-1 {
    background: 
        linear-gradient(var(--hover-red) 0 0) var(--p, 50%) 
        100% /var(--d, 10%) 3px no-repeat;
    transition: 0.3s, background-position 0.3s 0.3s;
}

.unexpected-1:hover {
    --d: 100%;
    --p: 0%;
    transition: 0.3s, background-size 0.3s 0.3s;
}

/* Elevated color and box shadow for div */
.elevated {
    background-color: var(--dark-elevated);
    box-shadow: 0 0.5rem 1rem rgb(0 0 0 / 15%) !important;
    border-radius: 1rem;
}

/* Carousel */
#carouselExampleCaptions {
    margin-top: 2rem;
}

.carousel-image {
    width: 100%;
    height: 40rem;
}

/* Container for garage vehicles and log files */
.container {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 2rem;
    padding: 1rem;
    /* border: 1px solid red; */
}

/* MY GARAGE */
.my-garage {
    width : 100%;
    margin-top: 2rem;
    padding: 2rem;
}

#garage-title {
    color: white;
    text-align: center;
    width: 15rem;
    margin: 0 auto;
    cursor: default;
}

#my-garage-icon {
    color: var(--medium-grey);
    margin-left: 1rem;
    width: 1.5rem !important;
    height: 3rem !important; 
}

.card {
    cursor: pointer;
}

/* Vehicle Cards - these are pre-existing bootstrap classes I am adding styling to */
.card {
    margin: 1rem;
}

.card-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


/* MY LOG FILES - DESKTOP/TABLET */
.my-log-files {
    width : 100%;
    margin-top: 2rem;
    margin-bottom: 2rem;
    padding: 2rem;
}

#log-files-title {
    color: white;
    text-align: center;
    width: 15rem;
    margin: 0 auto;
    cursor: default;
}

#log-file-header-icon {
    color: var(--medium-grey);
    margin-left: 1rem;
    width: 1.5rem !important;
    height: 3rem !important;
}

/* Container for each single log file */
.log-file {
    /* border: 1px solid #E3F2FD; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 0.8rem;
    margin: 1rem;
    cursor: pointer;
}

.log-file-name {
    margin-top: 0.5rem;
    color: var(--medium-grey);
}

.log-file-button {
    margin-top: 0.5rem;
    background-color: var(--logo-red);
    border: 1px solid var(--logo-red);
}

.log-file-button:hover {
    background-color: var(--hover-red);
    border: 1px solid var(--hover-red);
}

/* File Icon - This is a pre-defined bootstrap class */
.bi-file-earmark {
    color:white;
    height: 5rem;
    width: 4rem;
}

/* MY LOG FILES TABLE - MOBILE */
table {
    border: 1px solid var(--dark-elevated);
    border-radius: 1rem;
    display: none;
}

td {
    padding: 0.5rem 2rem 0.5rem 0.5rem;
}

td a {
    color: white;
    text-align: center;
}

td a:hover {
    color: var(--hover-red);
}

table thead tr th {
    color: white;
}

table tbody tr td {
    color: var(--medium-grey);
}

#link-header {
    color: white;
}

#table-file-names {
    border-bottom: 1px solid var(--hover-red);
    padding: 0.5rem 10rem 0.5rem 0.5rem;
}

#table-file-links {
    border-bottom: 1px solid var(--hover-red);
    padding: 0.5rem 2rem 0.5rem 0.5rem;
}


/* Media Queries */
@media only screen and (max-width: 900px) {
    .container {
        flex-direction: column;
        padding: 0;
    }

    .log-file {
        display: none;
    }

    table {
        display: block;
    }
}

@media only screen and (max-width: 768px) {
    body {
        padding: 0 5rem;
    }
}

@media only screen and (max-width: 500px) {
    body {
        padding: 0 1rem;
    }

    .welcome-message {
        text-align: center;
    }

    .carousel-image {
        width: 100%;
        height: 20rem;
    }

    .container {
        /* flex-direction: column; */
        padding: 0;
    }  
}

@media only screen and (max-width: 280px) {
    
    .container {
        padding: 0rem;
    }

    #garage-title {
        font-size: 1.6rem;
        width: 15rem;
        text-align: left;  
    }

    .card {
        width: 10rem !important;
        margin-bottom: 1rem;
    }
    
    #log-files-title {
        font-size: 1.6rem;
        width: 15rem;
        text-align: left;    
    }
    
    .unexpected-1:hover {
        --d: 85%;
        --p: 0%;
        transition: 0.3s, background-size 0.3s 0.3s;
    }
    
    #table-file-names {
        border-bottom: 1px solid var(--hover-red);
        padding: 0.5rem 5rem 0.5rem 0.5rem;
    }
}