:root {
    --bg: #000000f0;
    --medium-grey: #B3BABD;
    --logo-red: #972024;
    --hover-red: #D4353A;
}

body {
    background-color: var(--bg) !important;
    padding: 0 10rem;
}

/* Welcome Message */
.welcome-message {
    margin-top: 5rem;
    color: white;
}

/* Carousel */
#carouselExampleCaptions {
    margin-top: 2rem;
}

.carousel-image {
    width: 100%;
    height: 50rem;
}

/* Container for garage vehicles and log files */
.container {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
    padding: 1rem;
    /* border: 1px solid red; */
}

/* Garage */
.my-garage {
    width : 100%;
    margin-top: 5rem;
    padding: 2rem;
    border: 1px solid red;
}

#my-garage-header {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

#garage-title {
    color: white;
    text-align: center;
}

#my-garage-icon {
    color: var(--medium-grey);
    margin-left: 1rem;
    width: 1.5rem !important;
    height: 3rem !important; 
}

/* Vehicle Cards - these are pre-existing bootstrap classes I am adding styling to */
.card {
    margin: 1rem;
}

.card-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


/* Files */
.my-log-files {
    width : 100%;
    margin-top: 5rem;
    padding: 2rem;
    border: 1px solid red;
}

#log-files-header {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

#log-file-header-icon {
    color: var(--medium-grey);
    margin-left: 1rem;
    width: 1.5rem !important;
    height: 3rem !important;
}

#log-files-title {
    color: white;
    text-align: center;
}

/* Container for each single log file */
.log-file {
    /* border: 1px solid #E3F2FD; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 0.8rem;
    margin: 1rem;
}

.log-file-name {
    margin-top: 0.5rem;
    color: var(--medium-grey);
}

.log-file-button {
    margin-top: 0.5rem;
    background-color: var(--logo-red);
    border: 1px solid var(--logo-red);
}

.log-file-button:hover {
    background-color: var(--hover-red);
    border: 1px solid var(--hover-red);
}

/* File Icon - This is a pre-defined bootstrap class */
.bi-file-earmark {
    color:white;
    height: 5rem;
    width: 4rem;
    /* border: 1px solid red; */
}

/* Media Queries */
@media only screen and (max-width: 900px) {
    .container {
        flex-direction: column;
        padding: 0;
    }
}

@media only screen and (max-width: 768px) {
    body {
        padding: 0 5rem;
    }
}

@media only screen and (max-width: 500px) {
    body {
        padding: 0 1rem;
    }

    .welcome-message {
        text-align: center;
    }

    .carousel-image {
        width: 100%;
        height: 20rem;
    }

    .container {
        flex-direction: column;
        padding: 0;
    }                                                                                                   
}